.footer{
  margin-top:100px;
  border-top:1px solid #ece7e2;
}

.footer-top{
  max-width:100%;
  margin:auto;
  padding:60px 60px 0 60px;
  display:grid;
  grid-template-columns:
  2fr 1fr 1fr 1fr;
  gap:40px;
}

.footer h3{
  font-family:"Cormorant Garamond",serif;
  font-size:2rem;
}

.footer h4{
  margin-bottom:20px;
}

.footer a{
  display:block;
  color:#666;
  text-decoration:none;
  margin-bottom:12px;
}

.footer-bottom{
  text-align:left;
  padding:20px 0px;
  border-top:1px solid #ece7e2;
  color:#706f6f;
}

@media(max-width:992px){

.footer {
  margin-top: 60px;
}  

.footer-top{
  grid-template-columns:1fr;
  padding:25px 25px 0 25px;
}

.footer-bottom {
  text-align: center;
}

}